.navBackImage {
    background-image: url("/nature.jpg");
    background-size: cover;
}

img,
.search-btn {
    cursor: pointer;
}

.small-text {
    font-size: 14px;
}

.mainTitle:hover,
.github:hover,
.pixabay:hover {
    color: rgb(255, 255, 255) !important;
}

.pixabay {
    color: rgb(252, 0, 126);
}

.pixabay:hover {
    text-decoration: none !important;
}